/* COLOR VARIABLES */
/* PRIMARY & SECONDARY */
// version 0.0.1
$lightCyan: #B2EBF2;
$darkCyan: #00BCD4;
$lightYellow: #FFEB3B;
$darkYellow: #FDD835;
$lightMagenta: #FCB2BF;
$darkMagenta: #EA1D63;
$transparent: rgba(0,0,0,0);
/* B/W */
$white: #F7F7F7;
$lightGrey: #DCDCDC;
$darkGrey: #9B9B9B;
$black: #242424;
$black45: rgba(36,36,36,0.45);
$black15: rgba(36,36,36,0.15);

/* COLOR VARIABLES */
